@model Entities.deposito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DepositoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_deposito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_deposito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_convenio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_convenio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
