@model IEnumerable<Entities.deposito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_deposito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_convenio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_deposito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_convenio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_deposito }) |
            @Html.ActionLink("Details", "Details", new {  id=item.id_deposito }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_deposito })
        </td>
    </tr>
}

</table>
