@model IEnumerable<Entities.factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RFC_cliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RFC_cliente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.id_factura  }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_factura }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.id_factura })
        </td>
    </tr>
}

</table>
