@model eCommerceWeb.Models.ProveedoresVM

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>ProveedoresVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_proveedor }) |
    @Html.ActionLink("Regresar", "Index")
</p>
